/* Variables */
:root {
	--primary-color: #05402e;
	--secondary-color: #ff6f61;
	--accent-color: #f4f4f4;
	--box-shadow-color: rgba(0, 0, 0, 0.2);
}

/* Body */
body {
	background-color: var(--primary-color);
	overflow-x: hidden;
}

/* Header */
.header {
	padding: 150px 20px;
	text-align: center;
}
.header-img {
	box-shadow: var(--box-shadow-color);
	height: 100vh;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100vw;
	z-index: -1;
}
.header-title {
	color: var(--accent-color);
	font-size: 75px;
	font-weight: bold;
	margin-bottom: 20px;
}
.header-discription {
	color: var(--accent-color);
	font-size: 24px;
	margin-bottom: 30px;
}
.about-btn {
	background-color: #ff6f61;
	border: none;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer;
	font-size: 18px;
	padding: 10px 20px;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out;
}
.about-btn:hover {
	background-color: #e65b50;
	cursor: pointer;
}

/* Project Section */
.project-section {
	background-color: var(--primary-color);
	padding: 30px 120px;
}
.project-intro-text {
	color: var(--accent-color);
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 20px;
	text-align: center;
}
.project-section-hr {
	border: 1px dashed var(--accent-color);
	margin: 30px 0;
}
.project-information {
	margin-bottom: 10px;
	padding: 20px 0;
}
.project-image img {
	border-radius: 10px;
	box-shadow: var(--box-shadow-color);
	text-align: center;
}
.project-discription {
	color: var(--accent-color);
}
.project-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}
.project-text {
	font-size: 12px;
	line-height: 1.6;
	margin-bottom: 15px;
}
.project-btn {
	background-color: var(--primary-color);
	border: 1px solid var(--secondary-color);
	border-radius: 5px;
	color: var(--secondary-color);
	cursor: pointer;
	font-size: 12px;
	padding: 6px 8px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}
.project-btn:hover {
	background-color: var(--secondary-color);
	color: var(--accent-color);
	cursor: pointer;
}
.project-divide-hr {
	border: 1px dashed var(--accent-color);
	margin: 20px 0;
	opacity: 0.1;
}
.more-projects-section {
	text-align: center;
	margin-top: 30px;
}
.more-projects-text {
	color: var(--accent-color);
	font-size: 16px;
	margin-bottom: 15px;
}
.more-projects-btn {
	background-color: var(--secondary-color);
	border: none;
	border-radius: 5px;
	color: var(--accent-color);
	font-size: 16px;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out;
}
.more-projects-btn:hover {
	background-color: #e65b50;
}

/* About Me Section */
.about-me-section {
	background-color: var(--primary-color);
	padding: 50px 120px;
}
.about-me-heading {
	color: var(--accent-color);
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
}
.about-me-img {
	border-radius: 10px;
	box-shadow: var(--box-shadow-color);
	margin-bottom: 20px;
}
.about-me-text {
	color: var(--accent-color);
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 30px;
}
.about-project-btn {
	background-color: var(--secondary-color);
	border: none;
	border-radius: 5px;
	color: var(--accent-color);
	font-size: 16px;
	padding: 10px 20px;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out;
}
.about-project-btn:hover {
	background-color: #e65b50;
	cursor: pointer;
}

/* Get in Touch Section */
.contact-section {
	background-color: #285741;
	border-radius: 10px;
	box-shadow: var(--box-shadow-color);
	margin-top: 30px;
	padding: 50px 120px;
	text-align: center;
}
.contact-heading {
	color: var(--accent-color);
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
}
.contact-text {
	color: var(--accent-color);
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 30px;
}
.contact-btn {
	background-color: var(--secondary-color);
	border: none;
	border-radius: 5px;
	color: var(--accent-color);
	font-size: 16px;
	padding: 10px 20px;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out;
}
.contact-btn:hover {
	background-color: #e65b50;
	cursor: pointer;
}

/* Project Page Section */
.project-page-information {
	color: var(--accent-color);
	margin-bottom: 10px;
	padding: 20px 0;
	text-align: center;
}
.project-page-title {
	margin-top: 20px;
	margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 900px) {
	.header-title {
		font-size: 60px;
	}
	.header-discription {
		font-size: 28px;
	}
	.project-section {
		padding: 70px;
		text-align: center;
	}
	.project-image img {
		margin: 20px 0;
	}

	.about-me-section {
		font-size: 18px;
		text-align: center;
	}
	.contact-section {
		font-size: 18px;
		margin-top: 50px;
		padding: 30px 50px;
	}
}
